[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
dask = {extras = ["dataframe"], version = "*"}
numpy = "*"
seaborn = "*"
matplotlib = "*"
plotly = "*"
scikit-learn = "*"
xgbse = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.9"
